<div class="row align-items-center" style="min-height: calc(100vh - 66px);">
  <div class="col-lg-5 mx-auto">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Place here your URL">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button">Short!</button>
      </span>
    </div>
    <!--
    <div>
      <table>
        <tr>
          <li *ngFor="let url of urls">
            <span class="badge">{{url.original}}</span> {{url.short}}
          </li>
        </tr>
      </table>
    </div>
    -->
  </div>
</div>